.vs/
**/bin/
**/obj/
*.user
*.suo
TestResult*/
.vs/
**/bin/
**/obj/
*.user
*.suo
TestResult*/
.vs/
**/bin/
**/obj/
**/Debug/
**/Release/
Logs/
*.user
*.suo
TestResult*/
Properties/PublishProfiles/*.pubxml
appsettings.*.Local.json

appsettings.json
appsettings.*.Local.json
Logs/
