@model Labaratory.Models.AnalyzeType

@{
    ViewData["Title"] = "Добавить анализ";
}

<div class="card pd-20 pd-sm-40">
    <h6 class="card-body-title">Добавление нового анализа</h6>

    <form asp-action="Create" method="post">
        <div class="form-group">
            <label asp-for="AnalyzeName">Название анализа</label>
            <input asp-for="AnalyzeName" class="form-control" />
            <span asp-validation-for="AnalyzeName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="DoctorName">Имя врача</label>
            <input asp-for="DoctorName" class="form-control" />
            <span asp-validation-for="DoctorName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="AnalyzeCategoryId">Категория анализа</label>
            <select asp-for="AnalyzeCategoryId" asp-items="@(new SelectList(ViewBag.AnalyzeCategories, "Id", "CategoryName"))" class="form-control"></select>
        </div>
        <div class="form-group">
            <label asp-for="Price">Цена</label>
            <input asp-for="Price" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Status">Статус</label>
            <input asp-for="Status" type="checkbox" />
        </div>
        <button type="submit" class="btn btn-success">Сохранить</button>
        <a asp-action="Index" class="btn btn-secondary">Отмена</a>
    </form>
</div>
